@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --crgm-color-bg-primary: rgb(46, 70, 225);

  --crg-color-font-primary: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

main {
  padding: 0 20px;
}

.crgm-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}