.crgm-collection-title {
    margin-top: 20px;
    font-size: 28px;
    color: var(--crgm-color-font-tertiary);
    text-align: start;
    font-weight: 500;
}

.crgm-genres-card {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    margin-top: 20px;
    height: 100%;
    padding: 20px;
    background-color: var(--crgm-color-bg-tertiary);
    border-radius: 8px;
    border: 1px solid var(--crgm-color-border-secondary);
}

.crgm-genre-item {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 60px;
    width: 150px;
    border-radius: 8px;
    cursor: pointer;
}

.crgm-genre-item h4 {
    font-weight: 400;
    color: var(--crgm-color-font-primary);
}

@media (max-width: 576px) {
    .crgm-collection-title {
        font-size: 24px;
        text-align: center;
    }

    .crgm-genre-item {
        width: 100%;
    }
}