.crgm-home-card {
    margin-top: 37px;
    height: 100%;
    border: 1px solid var(--crgm-color-border-primary);
    border-radius: 12px;
    padding: 20px;
    background-color: var(--crgm-color-bg-secondary);
}

.crgm-home-card h2 {
    font-size: 24px;
    font-weight: 700;
    color: var(--crgm-color-font-tertiary);
}